SERVER_PORT=8080
KNEX_RESPONSE_TIME_THRESHOLD_MSEC=200
KNEX_TRACKING_CONN_MAX_COUNT=100
KNEX_POOL_MIN=2
KNEX_POOL_MAX=10
SERVICE_MYSQL_ADDRESS=localhost
SERVICE_MYSQL_USER=user
SERVICE_MYSQL_PASSWORD=pass
SERVICE_MYSQL_DATABASE=db_user
